@using System.Web.Optimization
@model Condominio.Web.Models.ApartamentoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.RedirectUrl = Url.Content("~/Apartamento");
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                @Html.LabelFor(p => p.Numero)
                                @Html.TextBoxFor(p => p.Numero, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Numero)
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                @Html.LabelFor(p => p.Bloco)
                                @Html.TextBoxFor(p => p.Bloco, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Bloco)
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <fieldset>
                                <legend>Moradores</legend>
                                <table class="table table-stripped table-moradores">
                                    <thead>
                                        <tr>
                                            <th width="80%">Nome</th>
                                            <th width="10%" align="center">Responsável</th>
                                            <th width="10%">Ações</th>
                                        </tr>
                                    </thead>
                                    @Html.Partial("~/Views/Apartamento/MoradoresPartial.cshtml", Model)
                                </table>
                                @Html.ValidationMessageFor(m => m.Moradores)                                
                            </fieldset>
                        </div>
                    </div>

                    @Html.Partial("~/Views/Shared/PartialActionBar.cshtml")
                }
            </div>
        </div>
    </div>
</div>
@section ViewSpecificJavascript {
    @Scripts.Render("~/Bundles/js/apartamento")
}
